.u-text-uppercase {
  text-transform: uppercase !important;
}

.u-text-center {
  text-align: center !important;
}

.u-d-flex-a-center {
  display: flex;
  align-items: center;
}

.u-d-flex-a-j-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-j-space-between {
  justify-content: space-between;
}
