
.particle {
  position: absolute;
  z-index: 1;

  @include respond(smallScreens) {
    display: none;
  }

  &--left {
    bottom: 0;
    left: 0;
  }
  &--right {
    top: 0;
    right: 0;
  }
}
