.header {
  background-color: $color-white;
  margin: 0 14rem;
  justify-content: space-between;

  padding: 4.5rem;

  border-radius: $default-border-radius;
  &__logo {
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;

    span {
      color: $color-primary;
      font-family: $font-inter;
      font-weight: 700;
      font-size: 3.5rem;
    }
  }

  &__item {
    color: $color-grey-dark-1;
    font-family: $font-kufam;
    font-weight: 400;
    font-size: 2rem;
    line-height: $line-height-primary;

    padding: 2rem 1.5rem;

    cursor: pointer;

    &:last-child {
      margin-right: 3rem;
    }
  }
  &__link {
    color: $color-grey-dark-1;
    transition: color 200ms ease;
    &--active,
    &:hover {
      color: #0a0b3b;
    }
  }
  &__dropdownList {
    background-color: $color-white;
    display: none;

    &--active {
      display: block;
      position: absolute;
      margin-top: 1rem;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.26);
    }
  }
  &__dropdownItem {
    padding: 1rem 2rem;
  }
}

.banner {
  width: 100vw;
  height: 100vh;
  padding-top: 90px;
  background: linear-gradient(107.52deg, #fff6f2 16.64%, #eec1ac);
}
