//COLORS
$color-primary: #3b3a5d;
$color-secondary: #ffbb50;
$color-content: #8f8f8f;
$color-link: #b16642;
$color-white: #fff;
$color-black: #000;

$color-grey-dark-1: #a4a4a4;
$color-grey-dark-2: #cfcfcf;
$color-grey-dark-3: #8e8e8e;

$color-grey-light-1: #f2f2f2;
$color-grey-light-2: #f5f1ef;
$color-grey-light-3: #d7d7d7;

//FONT-FAMILY
$font-kufam: "Kufam", sans-serif;
$font-source-sans-3: "Source Sans 3", sans-serif;
$font-inter: "Inter", sans-serif;

//FONT-SIZE
$default-font-size: 1.6rem;

//LINE-HEIGHT
$line-height-primary: 118.5%;
$line-height-secondary: 192.5%;

//BORDER RADIUS
$default-border-radius: 5px;
