.about {
  padding: 9rem 0;
  background-image: url("https://assets.website-files.com/6304f6a27b2b4e7a7062ee94/634e2638bcb86ea894d386cb_about-home-bg.jpg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;

  &__text {
    max-width: 72rem;
    @include respond(tablets) {
      max-width: 100%;
    }

    & .description {
      margin-top: 2rem;
    }

    & .button {
      margin-top: 3.8rem;
    }
  }
}
