.agency {
  background: rgb(255, 178, 141);
  background: linear-gradient(
    270deg,
    rgba(255, 178, 141, 1) 0%,
    rgba(243, 209, 193, 1) 100%
  );
  padding: 1rem 1.5rem;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  width: fit-content;

  @include respond(mobile) {
    padding: 0.5rem 1rem;
  }

  img {
    width: 2rem;
    height: 2rem;

    @include respond(tablets) {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__title {
    padding-top: 3px;
    font-family: $font-kufam;
    font-weight: 400;
    font-size: 2rem;
    line-height: $line-height-primary;
    letter-spacing: 0.275rem;
    color: $color-link;

    @include respond(tablets) {
      font-size: 2.4rem;
    }
  }
}
