.faq {
  margin: 14rem 0;
  & .container {
    & .agency {
      margin: auto;
    }

    & .heading-secondary {
      margin-top: 3rem;
    }
  }
  &__content {
    margin-top: 9rem;
  }
  &__item {
    padding-bottom: 3rem;
  }
  &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 3rem;
    border-bottom: 1px solid #f4d5c6;
  }

  &__question,
  &__button {
    cursor: pointer;
  }
  &__item--active &__button {
    img {
      transition: rotate 200ms ease;
      rotate: 45deg;
    }
  }
  &__item--active &__answer {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
  &__item--active .description {
    scale: 1 !important;
  }

  &__title {
    color: $color-primary;

    font-family: $font-source-sans-3;
    font-weight: 500;
    font-size: 3rem;

    line-height: $line-height-primary;

    @include respond(tablets) {
      width: 80%;
    }
  }
  &__button {
    border: none;
    border-radius: 50%;

    width: 6.4rem;
    height: 6.4rem;

    background-color: $color-secondary;
  }
  &__answer {
    display: flex;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);

    .description {
      scale: 0.9;

      margin-top: 2rem;
      color: #7d7d7d;

      transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    }
  }
}
