.form {
  background-color: $color-grey-light-2;
  border: 1px solid #dac5bb;
  border-radius: $default-border-radius;

  padding: 6.5rem 4.5rem;

  z-index: 10;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  & .description {
    color: #8d8d8d;
  }

  input {
    border-radius: 5px;
    border: 1px solid silver;
    padding: 2rem 3rem;
    font-family: $font-kufam;
    font-size: 2rem;
    font-weight: 500;

    &:focus {
      border-color: #3898ec;
      outline: 0;
    }
  }
}
