.gallery {
  padding: 9rem 0;
  margin-bottom: 9rem;
  background-color: $color-grey-light-2;

  & .heading-secondary {
    margin-bottom: 5rem;
  }

  @include respond(smallScreens) {
    & .react-photo-album--row {
      flex-direction: column !important;
      gap: 3rem;

      img {
        width: 100% !important;
      }
    }
  }
}
