.richtext {
  position: relative;
  margin-top: -190px;
  z-index: 4;
  padding: 0 4rem;

  @include respond(mobile) {
    margin-top: -130px;
  }
  & .container {
    max-width: 98rem;
    margin: auto;

    @include respond(smallScreens) {
      max-width: 100%;
      margin: 0 5rem;
    }
  }

  &__image {
    max-width: 1366px;
    margin: 0 auto 6.4rem;

    @include respond(mobile) {
      margin: 0 auto 9.4rem;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .description,
  li {
    color: $color-content;
  }

  ul {
    list-style-type: disc;
  }

  ol,
  ul {
    padding-left: 4rem;
    margin: 1.5rem 0;
  }

  li {
    font-family: $font-source-sans-3;
    font-size: 2rem;
    font-weight: 400;
    line-height: $line-height-primary;
    padding: 1rem 0;
  }

  blockquote {
    max-width: 900px;

    padding: 8rem 10rem;
    background-color: $color-primary;
    color: $color-white;

    border-radius: $default-border-radius;

    font-family: $font-source-sans-3;
    font-size: 3rem;
    font-style: italic;
    text-align: center;

    margin: 3rem 0 6rem 0;
  }
  h2,
  h3 {
    margin: 1.5rem 0;
  }
}
