.testimonial {
  background-color: #f3e8e2;
  padding: 15rem 0;
  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    max-width: 50rem;
  }

  &__buttons {
    display: flex;
    gap: 2.3rem;
  }
  &__button {
    background-color: $color-secondary;
    border: none;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;

    color: $color-white;
    transition: all 200ms ease;

    &:hover {
      background-color: $color-white;
      color: $color-secondary;
    }
  }
  &__icon {
    width: fit-content;
    margin: auto;
    margin-top: -1rem;
    font-size: 5rem;
  }
  &__content {
    margin-top: 3rem;
  }
  &__wrapper {
    padding: 0 6rem !important;
  }
  &__item {
    width: calc(100% / 2.75) !important;

    @include respond(laptops) {
      width: calc(100% / 2.25) !important;
    }
    @include respond(smallScreens) {
      width: calc(100% / 1.5) !important;
    }
    @include respond(tablets) {
      width: 100% !important;
    }
  }
  &__message {
    background: linear-gradient(225deg, #ecc8b7, #f4dbce);
    border-radius: 70px 70px 70px 0;
    padding: 7rem 5.2rem;

    & .description:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
  &__user {
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
  }
  &__image {
    width: 10rem;
    height: 10rem;

    border-radius: 50%;
    background-color: #f4dacd;

    padding: 1rem;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
