.title {
  font-family: $font-kufam;
  font-weight: 700;
  color: $color-primary;
  line-height: $line-height-primary;

  &--primary {
    font-size: 6.5rem;

    @include respond(laptops) {
      font-size: 6rem;
    }
  }
}

.description {
  font-size: 2rem;
  font-family: $font-source-sans-3;
  line-height: $line-height-primary;
  color: $color-link;

  @include respond(tablets) {
    font-size: 2.4rem;
  }

  @include respond(mobile) {
    font-size: 2.8rem;
  }
}
